/*John Hofrichter
CSS file sheet*/

#pageTitle
{
	text-align: center;
	color: #293941;
	width: 90%;
	font-size: 75px;
	background-color:white;
	border-radius: 15px;
	padding: 8px 16px;

}

#mainText
{
	text-align: center;
	color: #293941;
	height: 90%;
	font-size: 15x;
	background-color:white;
	border-radius: 15px;
	padding: 8px 16px;
	margin: 10px;
} 

#navigationBar
{
	text-align: left;
	color: #293941;
	width: 150px;
	font-size: 18px;
	background-color:white;
	border-radius: 15px;
	padding: 8px 16px;
	margin: 10px;
}

a {
    color: #293941;
    text-decoration: underline;
}